%poppins{
    font: 500 1rem "Poppins", sans-serif;
}

$colorText: #fff;
$rgb-color: #4F4F4F;
$color-rgb-transparent: rgba($rgb-color, 0.7);

* {
    box-sizing: border-box;
    text-decoration: none;
    list-style-type: none;
}
body {
    margin: 0;
    padding: 0;
}
.top {
    width: 100%;
    height: 100px;
    background-image: url("/img/background-img.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    .logo-top {
        max-width: 55px;
        margin: 10px;
    }
    .menu-login {
        position: relative;
        display: flex;
        justify-content: center;
        bottom: 75px;
        margin: 0;
        padding: 0;
        .icon-user, .icon-kart {
            position: relative;
            width: 25px;
            height: 25px;
            padding: 10px;
            left: 100px;
            color: $colorText;
        }

    }
    .search-input {
        position: relative;
        bottom: 70px;
        justify-content: center;
        align-items: center;
        display: flex;
        input {
            width: 90%;
            height: 30px;
            border-radius: 100px;
            border: none;
            color: transparent;
            text-shadow: 0 0 0 #000;
            outline: none;
        }
        .icon-search {
            position: relative;
            right: 30px;
        }
    }
    
}
.owl-carousel {
    max-width: 768px;
    margin: 0 auto;
    .item {
      display: inline-block;
      width: 520px;
      img {
        max-width: 100%
      }
      &:not(.slick-current){
          opacity: .8;
      }
    }
}
/*.items-wrapper {
    width: 100vw;
    .items {
        display: flex;
        overflow-x: auto;
        scroll-snap-type: x mandatory;
        -webkit-overflow-scrolling: touch;
        scroll-behavior: smooth;
        .item {
            flex: none;
            //width: 30%;
            //height: 200px;
            scroll-snap-align: start;
            pointer-events: none;
        }
        img {
            width: 420px;
            height: 200px;
        }
    }

}*/

.logoStore h1 {
    @extend %poppins;
}
.util {
    height: 100px;
}
.ecomresp-tab {
    width: 98%;
    .textoMaior {
        left: 5px;
        position: relative;
        font-family: sans-serif;
    }
}
.ecomresp-paginacao {
    color: #7D26CD;
    position: relative;
    right: -50px;
    &:hover {
        color: blue;
        cursor: pointer;
        border-bottom: 1px solid blue;
    }
}
.divisoriaHeader {
    border-top: 1px dotted #fde3bd;
    clear: both;
    margin-bottom: 6px;
    margin-top: 8px;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 95vw;
}
.logoStore {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    text-align: center;
    img {
       width: 70vw;
       height: 50vh;
       margin-top: 10px;   
    }
}
.cards-item {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    img {
        max-width: 100%;
        height: 100px;
        display: block;
        padding: 5px 10px;
        border: 4px solid rgba(206, 198, 198, 0.2);
        margin-left: 40px;
        transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
    }
}
.cards-item img:hover {
    transform:scale(5, 5);
    transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
    box-shadow:0 5px 15px 0 rgba(0,0,0,0.3);
    z-index: 5;
}
.cards-item {
    > div {
        flex: 1 1 200px;
        padding: 10px;
        max-width: 180px;
        box-shadow: 1px 1px 1px 1px #F8F8FF;
    }
    
}
.items {
    text-align: center;
    h2 {
        float: left;
        margin: 0;
        font-size: 20px;
        font-family: "OpenSans ExBold";
        position: relative;
        bottom: 1px;
        color: #002395;
    }
    span {
        float: right;
        bottom: -3px;
        position: relative;
        font-family: "OpenSans ExBold";
        z-index: -1;
        color: #002395;
    }
    a {
        display: block;
        margin: 10px 0;
        color: #000;
        @extend %poppins;
        font-size: 18px;
        overflow-y: hidden;
    }
    .fa-ticket-alt:before {
        padding-right: 4px;
    }
    .fa-money-bill-alt:before {
        padding-right: 4px;
    }
}
.ecomresp-tab-footer {
    width: 98%;
    margin-bottom: 60px;
    .textoMaiorFooter {
        left: 5px;
        position: relative;
    }
}
.ecomresp-paginacao-footer {
    color: #7D26CD;
    position: relative;
    right: -50px;
    padding-bottom: 50px;
    &:hover {
        color: blue;
        cursor: pointer;
        //border-bottom: 1px solid blue;
    }
}
.footer {
    width: 100%;
    //height: 404px;
    background-color: $color-rgb-transparent;
    //margin: 0;
    background-image: url("/img/background-img.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
.menu-footer {
    //display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: $colorText;
    margin-left: 35px;
    ul {
        margin: 0;
        padding: 0;
    }
    li {
        padding: 5px;
        font-family: sans-serif;
        font-weight: bold;
    }
    li:nth-child(2) {
        font-family: "OpenSans ExBold";
    }
    /*li:nth-child(5) {
        margin-top: 15px;
    }*/
    a {
        color: $colorText;
    }
    img {
        width: 350px;
    }
    .adress {
        position: relative;
        bottom: 49px;
    }
}
.menu-footer-contact {
    /*display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    position: relative;
    left: 22px;*/
    position: relative;
    display: flex;
    min-height: 100px;
    justify-content: center;
    align-items: center;
    color: $colorText;
    margin-left: 32px;
    bottom: 16px;
    font-weight: bold;
    small {
        left: -60px;
        top: 15px;
        position: relative;
        font-family: "OpenSans Light";
    }
    li {
        padding: 5px;
        font-family: "OpenSans ExBold";
    }
    li:nth-child(2) {
        position: relative;
        left: -30px;
    }
    li:nth-child(3) {
        right: 25px;
        position: relative;
    }
    #icon {
        width: 25px;
        height: 25px;
        position: relative;
        left: -10px;
        top: 8px;
        color: #000;
    }
    ul {
        margin: 0;
    }
}
.menu-footer-network {
    position: relative;
    display: flex;
    min-height: 100px;
    justify-content: center;
    align-items: center;
    .social-icons {
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 10px 0;
        flex-wrap: wrap;
    }
    .social-icons li a {
        font-size: 2em;
        //color: #fff;
        margin: 0 10px;
        display: inline-block;
        transition: 0.5s;
    }
    .icon-face {
        color: blue;
    }
    .icon-insta {
        color: #551A8B;
    }
    .icon-tube {
        color: red;
    }
    .social-icons li a:hover {
        transform: translateY(-10px);
    }
}

//Parte Mobile
@media only screen and (max-width: 375px) {
    .divisoriaHeader{
        max-width: 95vw;
    }
    .ecomresp-paginacao{
        right: -10px;
    }
}