* {
    box-sizing: border-box;
    text-decoration: none;
}
body {
    margin: 0;
    padding: 0;
}
.ecomresp-tab {
    width: 98%;
    .textoMaior {
        left: 5px;
        position: relative;
    }
}
.ecomresp-paginacao {
    color: #7D26CD;
    position: relative;
    right: -50px;
    &:hover {
        color: blue;
        cursor: pointer;
        border-bottom: 1px solid blue;
    }
}
.divisoriaHeader {
    border-top: 1px dotted #fde3bd;
    clear: both;
    margin-bottom: 6px;
    margin-top: 8px;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 95vw;
}
.logoStore {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    text-align: center;
    img {
       width: 70vw;
       height: 50vh;
       margin-top: 10px;   
    }
}
.cards-item {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    img {
        max-width: 100%;
        height: 100px;
        display: block;
        padding: 5px 10px;
        border: 4px solid rgba(206, 198, 198, 0.2);
        margin-left: 40px;
    }
}
.cards-item {
    > div {
        flex: 1 1 200px;
        padding: 10px;
        max-width: 180px;
        box-shadow: 1px 1px 1px 1px #F8F8FF;
    }
    
}
.items {
    text-align: center;
    h2 {
        float: left;
        margin: 0;
        font-size: 20px;
    }
    span {
        float: right;
        bottom: -3px;
        position: relative;
    }
    a {
        display: block;
        margin: 10px 0;
    }
    .fa-ticket-alt:before {
        padding-right: 4px;
    }
    .fa-money-bill-alt:before {
        padding-right: 4px;
    }
}
.ecomresp-tab-footer {
    width: 98%;
    .textoMaiorFooter {
        left: 5px;
        position: relative;
    }
}
.ecomresp-paginacao-footer {
    color: #7D26CD;
    position: relative;
    right: -50px;
    padding-bottom: 50px;
    &:hover {
        color: blue;
        cursor: pointer;
        border-bottom: 1px solid blue;
    }
}

//Parte Mobile
@media only screen and (max-width: 375px) {
    .divisoriaHeader{
        max-width: 95vw;
    }
    .ecomresp-paginacao{
        right: -10px;
    }
}