.items a, .logoStore h1 {
  font: 500 1rem "Poppins", sans-serif;
}

* {
  box-sizing: border-box;
  text-decoration: none;
  list-style-type: none;
}

body {
  margin: 0;
  padding: 0;
}

.top {
  width: 100%;
  height: 100px;
  background-image: url("/img/background-img.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}
.top .logo-top {
  max-width: 55px;
  margin: 10px;
}
.top .menu-login {
  position: relative;
  display: flex;
  justify-content: center;
  bottom: 75px;
  margin: 0;
  padding: 0;
}
.top .menu-login .icon-user, .top .menu-login .icon-kart {
  position: relative;
  width: 25px;
  height: 25px;
  padding: 10px;
  left: 100px;
  color: #fff;
}
.top .search-input {
  position: relative;
  bottom: 70px;
  justify-content: center;
  align-items: center;
  display: flex;
}
.top .search-input input {
  width: 90%;
  height: 30px;
  border-radius: 100px;
  border: none;
  color: transparent;
  text-shadow: 0 0 0 #000;
  outline: none;
}
.top .search-input .icon-search {
  position: relative;
  right: 30px;
}

.owl-carousel {
  max-width: 768px;
  margin: 0 auto;
}
.owl-carousel .item {
  display: inline-block;
  width: 520px;
}
.owl-carousel .item img {
  max-width: 100%;
}
.owl-carousel .item:not(.slick-current) {
  opacity: 0.8;
}

/*.items-wrapper {
    width: 100vw;
    .items {
        display: flex;
        overflow-x: auto;
        scroll-snap-type: x mandatory;
        -webkit-overflow-scrolling: touch;
        scroll-behavior: smooth;
        .item {
            flex: none;
            //width: 30%;
            //height: 200px;
            scroll-snap-align: start;
            pointer-events: none;
        }
        img {
            width: 420px;
            height: 200px;
        }
    }

}*/
.util {
  height: 100px;
}

.ecomresp-tab {
  width: 98%;
}
.ecomresp-tab .textoMaior {
  left: 5px;
  position: relative;
  font-family: sans-serif;
}

.ecomresp-paginacao {
  color: #7D26CD;
  position: relative;
  right: -50px;
}
.ecomresp-paginacao:hover {
  color: blue;
  cursor: pointer;
  border-bottom: 1px solid blue;
}

.divisoriaHeader {
  border-top: 1px dotted #fde3bd;
  clear: both;
  margin-bottom: 6px;
  margin-top: 8px;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: 95vw;
}

.logoStore {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  text-align: center;
}
.logoStore img {
  width: 70vw;
  height: 50vh;
  margin-top: 10px;
}

.cards-item {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.cards-item img {
  max-width: 100%;
  height: 100px;
  display: block;
  padding: 5px 10px;
  border: 4px solid rgba(206, 198, 198, 0.2);
  margin-left: 40px;
  transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
}

.cards-item img:hover {
  transform: scale(5, 5);
  transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
  box-shadow: 0 5px 15px 0 rgba(0, 0, 0, 0.3);
  z-index: 5;
}

.cards-item > div {
  flex: 1 1 200px;
  padding: 10px;
  max-width: 180px;
  box-shadow: 1px 1px 1px 1px #F8F8FF;
}

.items {
  text-align: center;
}
.items h2 {
  float: left;
  margin: 0;
  font-size: 20px;
  font-family: "OpenSans ExBold";
  position: relative;
  bottom: 1px;
  color: #002395;
}
.items span {
  float: right;
  bottom: -3px;
  position: relative;
  font-family: "OpenSans ExBold";
  z-index: -1;
  color: #002395;
}
.items a {
  display: block;
  margin: 10px 0;
  color: #000;
  font-size: 18px;
  overflow-y: hidden;
}
.items .fa-ticket-alt:before {
  padding-right: 4px;
}
.items .fa-money-bill-alt:before {
  padding-right: 4px;
}

.ecomresp-tab-footer {
  width: 98%;
  margin-bottom: 60px;
}
.ecomresp-tab-footer .textoMaiorFooter {
  left: 5px;
  position: relative;
}

.ecomresp-paginacao-footer {
  color: #7D26CD;
  position: relative;
  right: -50px;
  padding-bottom: 50px;
}
.ecomresp-paginacao-footer:hover {
  color: blue;
  cursor: pointer;
}

.footer {
  width: 100%;
  background-color: rgba(79, 79, 79, 0.7);
  background-image: url("/img/background-img.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.menu-footer {
  justify-content: center;
  align-items: center;
  text-align: center;
  color: #fff;
  margin-left: 35px;
  /*li:nth-child(5) {
      margin-top: 15px;
  }*/
}
.menu-footer ul {
  margin: 0;
  padding: 0;
}
.menu-footer li {
  padding: 5px;
  font-family: sans-serif;
  font-weight: bold;
}
.menu-footer li:nth-child(2) {
  font-family: "OpenSans ExBold";
}
.menu-footer a {
  color: #fff;
}
.menu-footer img {
  width: 350px;
}
.menu-footer .adress {
  position: relative;
  bottom: 49px;
}

.menu-footer-contact {
  /*display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  position: relative;
  left: 22px;*/
  position: relative;
  display: flex;
  min-height: 100px;
  justify-content: center;
  align-items: center;
  color: #fff;
  margin-left: 32px;
  bottom: 16px;
  font-weight: bold;
}
.menu-footer-contact small {
  left: -60px;
  top: 15px;
  position: relative;
  font-family: "OpenSans Light";
}
.menu-footer-contact li {
  padding: 5px;
  font-family: "OpenSans ExBold";
}
.menu-footer-contact li:nth-child(2) {
  position: relative;
  left: -30px;
}
.menu-footer-contact li:nth-child(3) {
  right: 25px;
  position: relative;
}
.menu-footer-contact #icon {
  width: 25px;
  height: 25px;
  position: relative;
  left: -10px;
  top: 8px;
  color: #000;
}
.menu-footer-contact ul {
  margin: 0;
}

.menu-footer-network {
  position: relative;
  display: flex;
  min-height: 100px;
  justify-content: center;
  align-items: center;
}
.menu-footer-network .social-icons {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px 0;
  flex-wrap: wrap;
}
.menu-footer-network .social-icons li a {
  font-size: 2em;
  margin: 0 10px;
  display: inline-block;
  transition: 0.5s;
}
.menu-footer-network .icon-face {
  color: blue;
}
.menu-footer-network .icon-insta {
  color: #551A8B;
}
.menu-footer-network .icon-tube {
  color: red;
}
.menu-footer-network .social-icons li a:hover {
  transform: translateY(-10px);
}

@media only screen and (max-width: 375px) {
  .divisoriaHeader {
    max-width: 95vw;
  }

  .ecomresp-paginacao {
    right: -10px;
  }
}

/*# sourceMappingURL=style.css.map */
